$bigDesktop: 1800px;
$desktop: 1600px;
$smallDesktop: 1400px;
$bigTablet: 1280px;
$tablet: 1024px;
$smallTablet: 800px;
$bigPhone: 600px;
$phone: 500px;
$smallPhone: 360px;

:root {
  --sidebar-width: 10rem;
  --sidebar-height: calc(4vh + 4rem);
  --padding-top: 10vh;
  --main-bg: hsl(210, 3%, 15%);
  --sidebar-bg: hsl(180, 3%, 7%);
  --main-color: #048b9a;
  --main-color: hsl(186, 95%, 31%);
  --second-color: hsl(53, 85%, 49%);
  --third-color: hsl(26, 95%, 31%);
  --text-color-light: hsl(0, 0%, 100%);
  --overlay-light: var(--main-bg);
  --overlay-dark: var(--main-bg);
  --surface: var(--main-bg);
  --base: var(--main-bg);
  --overflow: var(--main-bg);
  --font-title: "Quicksand", sans-serif;
  --font-text: "Raleway", sans-serif;
  --wrapper-width: 120rem;
  --fz-h1: calc(3rem + 0.6vw);
  --fz-h2: calc(2.4rem + 0.1vw);
  --fz-subtitle: calc(2rem + 0.1vw);
  --fz-button: calc(2.2rem + 0.2vw);
  --outline-offset-content: 2px;
  --outline-width-content: 2px;
}

@mixin breakpoint($point: null, $type: down width) {
  @if ($point != null) {
    $whichProp: "width";

    @if (
      length($type) >
        1 and
        (nth($type, 1) == "height" or nth($type, 2) == "height")
    ) {
      $whichProp: "height";
    }

    @if (length($point) > 1) {
      $maxPoint: nth($point, 2);
      $minPoint: nth($point, 1);

      @if (nth($point, 1) > nth($point, 2)) {
        $maxPoint: nth($point, 1);
        $minPoint: nth($point, 2);
      }

      $finalMinPoint: $minPoint + 1;
      $finalMaxPoint: $maxPoint;

      @if (nth($type, 1) == "up" or nth($type, 2) == "up") {
        $finalMinPoint: $minPoint;
        $finalMaxPoint: $maxPoint - 1;
      }

      @media (min-#{$whichProp}: #{$finalMinPoint}) and (max-#{$whichProp}: #{$finalMaxPoint}) {
        @content;
      }
    } @else {
      $final-point: $point;
      $final-type: "max-#{$whichProp}";

      @if (length($type) > 1) {
        @if (nth($type, 1) == "up" or nth($type, 2) == "up") {
          $final-point: $point + 1;
          $final-type: "min-#{$whichProp}";
        }
      } @else {
        @if (nth($type, 1) == "up") {
          $final-point: $point + 1;
          $final-type: "min-#{$whichProp}";
        }
      }

      @media ($final-type: #{$final-point}) {
        @content;
      }
    }
  } @else {
    @warn "Unfortunately, the value from first parameter - #{$point} - is not a valid.";
  }
}
